
<div class="intro">
<<<<<<< HEAD
<h3 class="launch-btn">Launch StarBnB
</h3>
=======
<h3 class="js-attach"><%= link_to "Launch StarBnB", bnb_index_path, class: "launch-btn" %></h3>
>>>>>>> e2b52e40fca385d535dac1c9b21d5b0da34c4515
</div>
