/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* Meta App Styling */

header {
	height: 5%;
	margin: 0;
	padding: 0;
}
div {
	margin: 0;
	padding: 0;
}

header h2 {
	text-align: center;
	margin: 0;
}

body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.walkthrough, .bnb {

	height: 95%;
	display: inline-block;
	background-color: green;
	padding: .5rem; /* Controls Screen borders */
	border: 1px solid black;
}


/* StarBnB styling */

.bnb {
	background-color: white;
	padding: 0;
}
.bnb-header {
	background-color: grey;
	padding: .5rem;
}

.bnb-header h3 {
	margin: 0;
	display: inline-block;
}

.tabs {
	float: right;
	padding-right: 2rem;
}

.tabs li {
	display: inline-block;
	padding: .3rem 0 0 3rem;
}























