// Place all the styles related to the bnb controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
    overflow:hidden;
}
.slider {
	height: 40rem;
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

}


.content {
	padding: 2rem;
	margin-top: 2rem;
	height: 50rem;
	// overflow-x: hidden;
}

.listings {
	width: 100%;
    height: 280px;
    overflow: auto;
    background-color: white;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 16px;
}

.listing {
    width: 343px;
    height: 229px;
    display: table-cell;
    background: #e3e3e3;
    vertical-align: bottom;
    text-align: center;
   
}

// Sign Up Page //

.signup, .signin {


.signup-heading, .signin-heading {
    width: 100%;
    text-align: center;
    background-color: #edefed;
    padding: 1rem 0 1rem 0;
    color: #484848;
    border: 1px solid #dce0e0;
}

.signup-body, .signin-body{
    padding: 2rem;
}

p { 
    padding-top: 1.5rem;
    text-align: center;
}


.field {
        padding: .4rem 0 .4rem 0;
}
input {
    width: 100%;
    height: 40px;

}

.actions input {
    height: 63px;
    color: white;
    background-color: #ff5a5f;
    border-radius: 4px;
}

.disclaimer {
    padding-top: 4rem;
    text-align: center;
    p {
        font-size: .85em;
    }
}

.signin-options {
    input {
        width: 17px;
        height: 17px;
    }
    a {
        float: right;
        font-size: 16px;
    }
}

.bottom-link {
    padding-top: 3rem;

    p, button {
        display: inline;
    }

    p {
        font-size: 18px;
    }

    button {
        color: #ff5a5f;
        border: 1px solid #ff5a5f;
        width: 80px;
        height: 34px;
        background-color: white;
    a {
        text-decoration: none;
        color: #ff5a5f;
    }
    }


}

//end sign up bracket
}
//



















