<!DOCTYPE html>
<html>
  <head>
    <title>Walkthrough</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<h2>Rails on Rails</h2>
  	</header>

  	<div class="bnb col-md-6">
    	<%= yield %>
    </div>

    <div class="walkthrough col-md-6">

    	<ul id="stack_yuda" class="stack stack--yuda">
    	</ul>

<div class="controls hidden">
	<button class="button button--sonar button--reject" data-stack="stack_yuda">
		<i class="fa fa-times"></i>
		<span class="text-hidden">Previous Step</span>
	</button>
	<button class="button button--sonar button--accept" data-stack="stack_yuda">
		<i class="fa fa-check"></i>
		<span class="text-hidden">Next Step</span>
	</button>
</div>

    </div>

  </body>
</html>
