<!DOCTYPE html>
<html>
  <head>
    <title>Walkthrough</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<h2>Rails Revealed</h2>
  	</header>

  	<div class="bnb col-md-6">
  		<header class="bnb-header">
  			<h3>StarBnB</h3>
  			<ul class="tabs">
  				<li>Become a Host</li>
  				<li>Help</li>
  				<li>Sign Up</li>
  				<li>Log In</li>
  			</ul>
  		</header>
    	<%= yield %>
    </div>

    <div class="walkthrough col-md-6">
    	<p>blah</p>
    </div>

  </body>
</html>
